<div id="markdown-container" class="renderer-container" style="@(Visible ? "" : "display:none;")">
    <div id="markdown-editor"></div>
</div>

@code {
    [Parameter] public bool Visible { get; set; }
}
